/* BACKGROUND */
.lowpolybackground {
  background: url(../../vendors/images/download.svg) no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
}
/* END OF BACKGROUND */

/* NAVBAR */
.brand-name {
  font-family: 'Indie Flower', cursive !important;
  font-size: 70px;
  margin: 25px;
  text-align: center;
  color: #562D8E !important;
  padding: 10px;
}

.navbar,
.navbar-default,
.navbar-toggle .collapsed {
  background-color: transparent !important;
  border: none;
}

.nav.navbar-nav {
  border-bottom: 2px solid white !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}

ul li a{
  color: white !important;
  background-color: transparent !important;
}
/* END OF NAVBAR */

/* DESKTOP NAVBAR */
.navbar-default @media (min-width: 800px) {
  body,
  .navbar,
  .navbar-default {
    background-color: transparent !important;
    color: white !important;
    border-color: none;
  }
  .navbar-brand,
  .navbar-brand:focus {
    color: white !important;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
/* END OF DESKTOP NAVBAR */